.vs/
PopovR_GUN28_GUNPC_Strings_And_Symbols/PopovR_GUN28_GUNPC_Strings_And_Symbols/
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/project.nuget.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/project.assets.json
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/GamePrototype.csproj.nuget.g.targets
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/GamePrototype.csproj.nuget.g.props
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/GamePrototype.csproj.nuget.dgspec.json
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/refint/GamePrototype.dll
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/ref/GamePrototype.dll
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.pdb
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.genruntimeconfig.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.GeneratedMSBuildEditorConfig.editorconfig
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.dll
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.csproj.FileListAbsolute.txt
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.csproj.CoreCompileInputs.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.csproj.BuildWithSkipAnalyzers
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.csproj.AssemblyReference.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.assets.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.AssemblyInfoInputs.cache
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/apphost.exe
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/GamePrototype.sln
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/GamePrototype.csproj
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/bin/Debug/net6.0/GamePrototype.runtimeconfig.json
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/bin/Debug/net6.0/GamePrototype.exe
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/bin/Debug/net6.0/GamePrototype.pdb
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/bin/Debug/net6.0/GamePrototype.dll
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/bin/Debug/net6.0/GamePrototype.deps.json
PopovR_GUN28_GUNPC_Memory/PopovR_GUN28_GUNPC_Memory/
PopovR_GUN28_GUNPC_Collections/PopovR_GUN28_GUNPC_Collections/
Logical operations/
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/refint/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/ref/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.sourcelink.json
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.csproj.CoreCompileInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.AssemblyInfoInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/refint/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/ref/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.sourcelink.json
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.csproj.CoreCompileInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.AssemblyInfoInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/refint/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/ref/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.sourcelink.json
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.csproj.CoreCompileInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.AssemblyInfoInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
*.dll
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Combat/CombatManager.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Dungeon/DungeonRoom.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/DifficultyLevel.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/Direction.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/EquipSlotArmor.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/EquipSlotWeapon.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/RockPaperScissors.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Enums/Various.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Game/GameLoop.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EconomicItems/EconomicItem.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EconomicItems/Gold.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EconomicItems/Grindstone.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EconomicItems/HealthPotion.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EquipItems/Armour.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EquipItems/EquipItem.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/EquipItems/Weapon.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Items/Item.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Program.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Goblin.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Inventory.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Ogr.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Orc.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Player.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Units/Unit.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Utils/DungeonBuilder.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Utils/GameConstants.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/Новая папка/Utils/UnitFactoryDemo.cs
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.AssemblyInfoInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.csproj.CoreCompileInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.sourcelink.json
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/ref/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/refint/PopovR_GUN28_Classes.dll
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/.gitattributes
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PopovR_GUN28_GUNPC_OOP/GamePrototype/GamePrototype/obj/Debug/net6.0/GamePrototype.sourcelink.json
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.exe
Classes/PopovR_GUN28_Classes/bin/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/apphost.exe
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.AssemblyInfoInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.csproj.CoreCompileInputs.cache
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.pdb
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/PopovR_GUN28_Classes.sourcelink.json
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/ref/PopovR_GUN28_Classes.dll
Classes/PopovR_GUN28_Classes/obj/Debug/net8.0/refint/PopovR_GUN28_Classes.dll
